/** 
Font Family : 
- Fira Sans 
- Title = Cormorant

Color : 
- Black 
- White 
- Or = #B7852F
- Grey = #F0EDED
- Grey Footer = #3B3B3B
*/ 

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&display=swap');

body{
    font-family: 'Fira Sans', sans-serif !important;
    font-weight: 300 !important;
}

.btn-yellow{
    background-color: #B7852F;
    border-radius: 0px;
    color: white;
    box-shadow: 0px 10px 20px #B7852F;
    font-weight: 200;
}

.btn-yellow:hover{
    box-shadow: 0px 15px 30px #B7852F;
    color: white;
    animation: shake 2s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/** --> PAGE ACCUEIL <-- **/
/** --> Header **/
header{
    background-color: black;
    color: white;
    min-height: 100px;
}

header ul{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
} 

@media (max-width: 991.98px) { 

    header .logo-home{
        display: flex;
        justify-content: center;
    
    }
    header ul{
        justify-content: center;
    }
}

header li{
    list-style-type: none;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header li a{
    color: white !important;
    text-decoration: none;
    font-size: 14px;
    padding-left: 5px;
}

header li a:hover{ 
    color: #B7852F !important;
}

/** --> Navbar **/
nav{
    background-color: white !important;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav li{
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}

.nav-link.active{
    font-weight: 400 !important;
}

/** --> Background **/

section.background-home{
    background-image: url("../img/images/background.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
}

section.background-home .container-fluid, .row{
    height: 100%;
}

section.background-home .right-content{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.background-home .right-content p{
    color: white;
    font-size: 28px;
    text-align: center;
    font-family: 'Cormorant Unicase', serif;
}

/** Carousel **/ 
section.catalogue{
    margin: 100px 0 100px 0;
}

section.catalogue h2{
    text-align: center;
    font-weight: 200;
    margin-bottom: 50px;
    font-family: 'Cormorant Unicase', serif;
}

section.catalogue li img{
    width: 100%;
    height: 300px; 
    object-fit: cover;
    
}

section.catalogue a{
    text-decoration: none;
    
}

section.catalogue button.btn-yellow{
    display: block;
    margin: 30px auto 60px auto;
}

section.catalogue p.description{
    text-align: center;
    font-size: 18px;
}

/** Footer **/
footer{
    padding: 50px 0 50px 0;
    background-color: #3B3B3B;
    color: white;
}

footer h2, h3{
    font-weight: 200;
}

footer h2{
    text-align: center;
}

footer .row{
    margin-bottom: 20px;
}

footer button.btn-yellow{
    border-radius: 5px;
    float: right;
    margin-right: 20%;
    font-weight: 400;
}

div.copyright{
    text-align: center;
    background-color: #3B3B3B;
    color: white;
}

div.copyright p{
    margin: 0;
}

/** --> PAGE CATALOGUE <-- **/
/** Catalogue */

section.catalogue-gallery{
    background-color: #F0EDED;
    padding: 50px 0 100px 0;
}

section.catalogue-gallery h2{
    text-align: center;
    font-weight: 200;
    font-family: 'Cormorant Unicase', serif;
}

section.catalogue-gallery .parent-gallery{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    opacity: 0.9;
}

section.catalogue-gallery img{
    object-fit: cover;
    width: 80%;
    height: 300px;
}

section.catalogue-gallery .parent-gallery:hover{
    opacity: 1;
    cursor: pointer;
}

section.catalogue-gallery h4{
    text-align: right;
    visibility: hidden;
    color: #B7852F;
    font-family: 'Cormorant Unicase', serif;
    font-size: 25px;
    font-weight: 400;
    font-style: italic;
}

.parent-gallery + h4{
    transition: transform 0.5s, visibily 0.1s;
}

.parent-gallery:hover + h4{
    transform: translateX(-150px);
    visibility: visible;
}

@media (max-width: 768px) { 
    section.catalogue-gallery h4{
        text-align: center;
        visibility: visible;
    }
}
/** Pagination **/
nav.pagination{
    background-color: #F0EDED !important;
    float: right;
    margin-top: 40px;
}

nav.pagination li.active a{
    background-color: #B7852F !important;
    border: none;
}

nav.pagination li a{
    color: #B7852F;
}

nav.pagination li a:hover{
    background-color: #B7852F;
    color: white;
}

/** --> CONFIGURATEUR <-- **/
section.configurateur-head, section.configurateur{
    background-color: #F0EDED;
    padding: 50px 0 50px 0;
}
/** Head **/
section.configurateur-head{
    padding-top: 50px;
}

section.configurateur-head h2{
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    padding-bottom: 50px;
}

section.configurateur-head p{
    text-align: center;
}
/** Configurateur **/

section.configurateur .container{
    background-color: white;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}








